# Lab 12. Data Analysis in Python

# load data

In [2]:
import pandas

In [4]:
df = pandas.read_excel('s3://ia-241-2022-spring-stanaway/house_price.xls')

df[:]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328
7,1003,134900,2,2,townhouse,2300,1994,920,56,328
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137
10,1006,429000,4,5,single-family home,7405,2017,2799,75,569
11,1007,309900,3,3,single-family home,15246,1986,2136,6,173
12,1010,699900,5,6,single-family home,18295,2007,5955,75,100
13,1012,444900,5,6,single-family home,28314,1961,5201,102,797
14,1013,178000,2,2,single-family home,11326,1964,1188,88,1040
15,1014,339900,3,3,single-family home,14375,1993,2003,82,918
16,1015,239000,3,3,single-family home,12197,1972,2210,84,1186
17,1016,182000,3,2,condo,7405,1945,1622,94,1176
18,1017,159900,3,1,single-family home,5662,1924,1584,103,532
19,1019,209000,3,2,single-family home,9147,1966,1918,101,1078
20,1020,445000,5,4,single-family home,21780,2010,3504,19,69
21,1022,294900,3,2,single-family home,30928,1978,3150,14,136
22,1024,199900,3,1,single-family home,6936,1978,864,18,110
23,1025,1100000,3,2,single-family home,4356000,1970,2541,20,58
24,1030,439000,5,4,single-family home,18731,2005,3819,17,109
25,1031,179900,4,2,single-family home,13068,1988,1237,17,226
26,1032,146900,2,3,condo,2178,2006,1276,3,51
27,1033,429000,5,4,single-family home,22651,2018,3145,12,122
28,1045,659000,6,4,single-family home,21780,2014,5156,4,30
29,1046,209000,3,3,townhouse,8682,2005,1464,34,310
30,1047,625000,4,6,single-family home,14810,1985,5299,9,60
31,1048,339500,3,2,single-family home,36590,1964,1508,4,54
32,1059,249000,3,2,single-family home,13068,1975,1761,32,357
33,1063,407000,3,4,single-family home,6534,2017,2432,56,315
34,1064,174900,2,3,single-family home,2469,2007,1344,46,127
35,1065,1100000,3,1,single-family home,4138200,1932,900,48,17
36,1068,169900,2,1,single-family home,36155,1950,1556,61,421
37,1099,379000,3,4,single-family home,8276,2017,1922,19,270
38,1101,315000,3,4,single-family home,61855,1998,2025,21,261
39,1102,445000,5,4,single-family home,21780,2010,3504,19,69
40,1104,529900,5,5,single-family home,19166,1998,5202,90,309

# 2.1

In [28]:
df['unit_price'] = df['price']/df['area']

In [29]:
df[:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,unit price,unit_price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222,104.097222

# 2.2

In [9]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

# 2.3

In [13]:
df.loc[df['bathroom']>2]['price'].mean()

383645.45454545453

In [15]:
print('avg price of house more than 2 bathrooms is ${:g}'.format(df.loc[df['bathroom']>2]['price'].mean()))

avg price of house more than 2 bathrooms is $383645

# 2.4

In [33]:
print('the mean unit price is ${:n}'.format(df['unit_price'].mean()))

the mean unit price is $167.459

In [32]:
print('the median unit price is ${:g}'.format(df['unit_price'].median()))

the median unit price is $130.134

# 2.5

In [34]:
df.groupby('house_type').mean()['unit_price']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit_price, dtype: float64

# 2.6

In [35]:
from scipy import stats

In [36]:
result = stats.linregress(df['area'],df['price'])

In [37]:
print('slope is {:n}'.format(result.slope))

slope is 79.955

In [38]:
print('intercept is {:n}'.format(result.intercept))

intercept is 156255

In [40]:
print('p value is {:g}'.format(result.pvalue))

p value is 0.00134007

In [41]:
print('r square value is {:g}'.format(result.rvalue*result.rvalue))

r square value is 0.23439

# 2.7

In [45]:
print('the price of house with {}sqft is ${:,.2f}'.format(2000,2000*result.slope+result.intercept))

the price of house with 2000sqft is $316,164.68